
body.front, body.not-front {
  background-color: #001280;
  font-family: Helvetica, sans-serif;
  background-image: url('images/back-grad.png');
  background-repeat: repeat-x;
}

body a, body a:visited, body a:hover {
  color: #a6b2ff;
}

#header {
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

div#site-slogan {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: bold;
}

h1#site-name, div#site-name, div#site-slogan {
  text-align: right;
}

#logo {
  float: right;
  margin: 0px 0px 0px 10px;
}

#primary {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  margin-left: 0px;
  border-style: solid none none none;
}

#primary, #primary ul li {
  border-width: 3px;
  border-color: #000d60;
  background-color: #001280;
}

#primary ul li {
  padding: 4px 10px;
  display: block;
  float: left;
  border-style: none solid none none;
  white-space: nowrap;
}

#primary ul li:hover {
  background-color: #0016a5;
}

#primary ul a, primary ul.nice-menu a {
  color: white;
  text-decoration: none;
  padding: 0px;
}

#primary ul.nice-menu-down ul {
  left: -3px;
}

#primary ul.nice-menu-down li.menuparent {
  background-image: none;
}

#primary ul.nice-menu-down li.menuparent a{
  padding: 0px;
  }

#primary ul.nice-menu ul {
  border-top-style: none;
}

#primary ul ul li {
  border-style: solid solid none solid;
  width: 100%;
}

#primary ul ul li.last {
  border-style: solid;
}

#primary ul ul li.first {
  margin-top: 1px;
}

#content, .block h2.title, #header {
  background-color: #0016a5;
}

#content, .drop-shadow-wrapper {
  border-width: 1px 2px 2px 1px;
  border-color: #000d5d #000a48 #000a48 #000d5d;
  border-style: solid;
}  

#content-inner, .block h2.title {
  border-width: 1px;
  border-color: #000b54 #000838 #000838 #000b54;
  border-style: solid;
}

#content-inner {
  padding: 20px;
}

.block, #mission {
  background-color: #000e66;
  background-repeat: repeat-x;
  border-color: #000d5d #000e62 #000e62 #000d5d;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 20px;
}

.block-inner, #mission-inner {
  padding: 20px;
  background-repeat: repeat-y;
  border-color: #000d60 #000e64 #000e64 #000d60;
  border-width: 3px 1px 1px 3px;
  border-style: solid;
}

.block h2.title {
  text-align: center;
  padding: 5px;
}

.block ul, .item-list ul {
  padding: 0 0 0 1em;
}

.block ul a {
  text-decoration: none;
}

ul li.leaf {
  list-style-image: url('images/menu-leaf.gif');
}

h1.title, h2.title, h3.title, h4.title, h1#site-name, div#site-name, div#site-slogan, #primary a {
  font-family: Tahoma, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px black;
}

.node .title a {
  text-decoration: none;
}

#content .node {
  margin-bottom: 20px;
}

pre, code {
  overflow: auto;
}

#footer {
  margin-top: 20px;
}